:host {
  font-family: Helvetica, sans-serif;
  .data-error-container {
    font-size: 13px;
    color: #e74c3c;
  }
  button {
    &:disabled {
      background-color: #e2e2e2;
    }
  }
  .captcha {
    height: 78px;
  }
  .data-error-container {

  }
}
